<section class="contact">
  <div class="contact__description row">
    <div class="contact__description__icon">
      <img src="assets/icons/plane.png" class="contact__description__icon--plane" alt="contact">
    </div>
    <div class="contact__description__title">
    <h2>Форма обратной связи <br>
      разработка, модификация или просто вопросы по модулю...</h2>
    </div>
  </div>
  <div class="contact__form col-md-12">
        <div *ngIf="notifyMassage" class='alert alert-success'>
          {{notifyMassage}}
        </div>
        <form [formGroup]="contact" (ngSubmit) = "send()">
          <div class="row">
          <div class="col-md-4">
          <div class="form-group">
            <select class="form-control"
                    id="type"
                    formControlName = "type">
              <option value="" selected disabled>Выберите тип обращения</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <input
              type="name"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder = "Имя *"
              required>
            <div *ngIf="isInvalidForm('name')"
                 class="alert alert-danger">
              <div *ngIf="isRequired('name')">
                Name is required.
              </div>
              <div *ngIf="contact.controls['name'].errors.pattern">
                Name must be valid.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder = "E-mail *"
              required>
            <div *ngIf="isInvalidForm('email')"
                 class="alert alert-danger">
              <div *ngIf="isRequired('email')">
                Email is required.
              </div>
              <div *ngIf="contact.controls['email'].errors.pattern">
                Email must be valid.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="phone"
              class="form-control"
              id="phone"
              formControlName="phone"
              placeholder = "Телефон"
              >
          </div>
          </div>
            <div class="col-md-8 contact__form--right">
          <div class="form-group">
            <textarea
              type = "message"
              class="form-control"
              id="message"
              formControlName="message"
              placeholder = "Сообщение *"
              required
            ></textarea>

          </div>
          <button [disabled] = "!contact.valid" type="submit" class="btn danger contact__form--submit">Отправить</button>
            </div>
          </div>
        </form>
        <div *ngIf="errors.length > 0" class = "alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div>
      </div>
</section>
