<div class="wrapper">
  <div class="content row">
    <div class="content__right col-md-6">
      <h1>Assistant Interface Debugger</h1>
    </div>
    <div class="content__left col-md-6">
      <div class="content__left__button col-md-6">
        <a href="#">
        <div class="button">
            <img src="assets/icons/file.png" alt="" class="button__icon">
            Скачать наш прайс
        </div>
        </a>
      </div>
        <div class="content__left__input col-md-6">
          <form action="submit" class="submit">
            <input class="search" placeholder="Поиск по сайту" type="text"/>
            <span class="content__left__input--icon"><img src="assets/icons/search.png" alt="search"></span>
          </form>
        </div>
    </div>
  </div>
</div>
