<div class="wrapper">
  <div class="content row">
    <div class="content__right col-6">
      <h1>Assistant Interface Debugger</h1>
    </div>
    <div class="content__left col-6">
      <div class="content__left__button col-6">
        <a href="#">
        <div class="button">
            <img src="assets/icons/file.png" alt="" class="button__icon">
            Скачать наш прайс
        </div>
        </a>
      </div>
        <div class="content__left__input col-6">
          <form action="submit">
            <input class="search" placeholder="Поиск по сайту" type="text">
          </form>
        </div>
    </div>
  </div>
</div>
