<div class="content">
  <div class="row">
    <div class="content__left col-md-6">
      <div class="content__left__item" *ngFor = "let item of fluid" [style.width] = item.width>
        <div class="content__left__item--{{item.color}}">
          <div class="content-body">
            <div class="content-body__icon">
              <img src={{item.icon}} class="content-body__icon--img" alt="Description">
            </div>
            <div class="content-body__text">
              <div class="text">
                <h2>{{item.title}}</h2>
                <p>{{item.content}}</p>
              </div>
              <div *ngIf="item.hasOwnProperty('next')">
              <div class="content-body__icon__next">
                <a href="#"> <img src={{item.next}} class="content-body__icon--next" alt="Open"></a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content__right col-md-6">
      <img src="assets/img/cover.png" alt="" class="content__right--cover">
    </div>
  </div>
</div>
