<div class="content">
  <div class="row">
    <div class="content__left col-md-6">
      <div class="content__left__item">
        <div class="content__left__item--purple">
          <div class="content-body">
            <div class="content-body__icon">
              <img src="assets/icons/file.png" class="content-body__icon--img" alt="Description">
            </div>
            <div class="content-body__text">
              <div class="text">
                <h2>Описание продукта</h2>
                <p>Смотреть</p>
              </div>
              <div class="content-body__icon__next">
                <a href="#"> <img src="assets/icons/arrow-right.png" class="content-body__icon--next" alt="Open"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="content__left__item">
            <div class="content__left__item--green">
              <div class="content-body">
                <div class="content-body__icon">
                  <img src="assets/icons/path.png" class="content-body__icon--img" alt="Description">
                </div>
                <div class="content-body__text">
                  <h2>Скачать</h2>
                  <p>Докум-ция, программы и драйверы</p>
                </div>

              </div>
            </div>
          </div>
          <div class="content__left__item--blue">
            <div class="content-body">

              <div class="content-body__icon">
                <img src="assets/icons/grid.png" class="content-body__icon--img" alt="Description">
              </div>
              <div class="content-body__text">
                <h2>Примеры</h2>
                <p>C# API</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content__left__item--yellow">
            <div class="content-body">

              <div class="content-body__icon">
                <img src="assets/icons/video.png" class="content-body__icon--img" alt="Description">
              </div>
              <div class="content-body__text">
                <div class="text">
                  <h2>Видео</h2>
                  <p>Смотреть</p>
                </div>
                <div class="content-body__icon__next">
                  <img src="assets/icons/arrow-right.png" class="content-body__icon--next" alt="Open">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content__right col-md-6">
      <img src="assets/img/cover.png" alt="" class="content__right--cover">
    </div>
  </div>
</div>
